<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--font awesome icons-->
    <link rel="stylesheet" href="./css/all.css">
    <!--owl carousel-->
    <link rel="stylesheet" href="./css/owl.carousel.min.css">
    <link rel="stylesheet" href="./css/owl.theme.default.min.css">
    <!---bootstrap-->
    <link rel="stylesheet" href="./css/bootstrap.css">
    <!--close-bootstrap-->
    <!--A0s-->
    <link rel="stylesheet" href="./css/aos.css">
    <!--main css file-->
    <link rel="stylesheet" type="text/css" href="main.css">
    <title>Info-Matics</title>
</head>
<body>
       <div class="nav-bar">
           <div class="logo">
             <div class="logo1">
               <!--<img class="img-logo" src="Blog logo 2.png" width="50px" >-->
               <a href="/index.html" class="nav-brand">Infomatics</a>
             </div>            
           </div>
           <div class="nav">
             <nav>
               <ul>
                 <li><a href="./index.html">Home</a></li>
                 <li><a href="#">Music</a></li>
                 <li><a href="#">Sports</a></li>
                 <li><a href="#">Entertainment</a></li>
                 <li><a href="#">Lifestyle</a></li>
               </ul>
              </nav>   
           </div>
           <div class="social">
             <nav class="socials">
               <ul>
                <li class="socialicon">
                  <a href="#" class="nav-link"><i class="fab fa-facebook-f"></i></a>
                  <a href="#" class="nav-link"><i class="fab fa-twitter"></i></a>
                  <a href="#" class="nav-link"><i class="fab fa-instagram"></i></a>
                  <a href="#" class="nav-link"><i class="fab fa-youtube"></i></a>
                </li>
                <li class="menu">
                  <a href="#" class="nav-link"><i class="fas fa-bars text-white"></i></a>
                </li>
               </ul>
             </nav>   
           </div>
        </div>
           
      <div class="container">
        <div class="show bg-danger">i am here again</div>
      </div>       
            
           
   <main>
      <div class="mainimg">
        <div class="mainimgcontainer">
          <img src="" alt="">
        </div>
       <div class="signup" data-aos="fade-up" data-aos-delay="100">
          <p id="txt"><h1>Sign up for our newsletters</h1></p>
          <a href="#"><button class="btn" id="signupbtn">Sign up</button></a>
        </div>
      </div>
      <div class="contains">
       <div class="main">
         <div class="articles poppins">
           <div class="owl-carousel owl-theme newsbox">
             <div class="blogcontain">
                <a href="#"><div class="newshover newsbox1"></div></a>
                <div class="tag tag1 paris fs-20"><h6>Sports</h6></div>
                <div class="imagetext clickedtext"><p class="text1"><h5><a href="#" class="recentlink">The evolution of the transfer market in football</a> </h5></p></div>
              </div>
              <div class="blogcontain2">
                <a href="./fashion/Do men really.html"><div class="newshover newsbox2"></div></a>
                <div class="tag tag2 paris fs-20"><h6>Fashion</h6></div>
               <div class="imagetext1 clickedtext"><p class="text2"><h5><a href="./fashion/Do men really.html" class="recentlink">Do men really notice what women wear?</a></h5></p></div>
              </div>
             <div class="blogcontain3">
                <a href="./tech/coding.html"><div class="newshover newsbox3"></div></a>
                <div class="tag tag3 paris fs-20"><h6>Tech</h6></div>
                <div class="imagetext2 clickedtext"><p class="text3"><h5><a href="./tech/coding.html" class="recentlink">Why programming is interesting!!!</a></h5></p></div>
             </div>
             <div class="blogcontain4">
                <a href="most" target="_blank"><div class="newshover newsbox4"></div></a>
                <div class="tag tag4 paris fs-20"><h6>Lifestyle</h6></div>
                <div class="imagetext3 clickedtext"><p class="text3"><h5><a href="most" target="_blank" class="recentlink">10 most dangerous dogs in the world</a></h5></p></div>
             </div>
            </div>
          </div>
         <div class="sidebar">
           <div class="trending"><p><h3>TRENDING</h3></p></div>
            <div class="news-container">
               <div class="news1">
                   <a href="./lifestyle/10 most dangerous.html"><div class="newshover box1"></div></a>
                  <div class="news1box">
                    <div class="cover1">
                      <p><h5><a href="./lifestyle/10 most dangerous.html" class="textlink">10 most dangerous dogs in the world</a></h5></p>
                      <div class="describe"><p><h5>Dogs are known to be the most important household pets, but they can be really dangerous and aggressive.....</h5></p></div> 
                      <div class="createdby"><p><h5><cite>by Geepy</cite></h5></p></div>    
                    </div>
                  </div>
               </div>
               <div class="news2 bg-success">
                  <a href="./tech/coding.html"><div class="newshover box2"></div></a>
                 <div class="news1box bg-warning">
                   <div class="cover2">
                     <p><h5><a href="./tech/coding.html" class="textlink">Why programming is interesting!!!</a></h5></p>
                     <div class="describe bg-danger"><p><h5>The modern day era of innovation and technology cannot be overlooked, programming has become the most sort after in the society today....</h5></p></div> 
                     <div class="createdby"><p><h5><cite>by Geepy</cite></h5></p></div>  
                   </div>
                 </div>
              </div>
               <div class="news3">
                  <a href="./fashion/Do men really.html"><div class="newshover box3"></div></a>
                 <div class="news1box">
                   <div class="cover3">
                     <p><h5><a href="./fashion/Do men really.html" class="textlink">Do men really notice what women wear?</a></h5></p>
                     <div class="describe"><p><h5>what a woman wears speaks so much about her personality...</h5></p></div> 
                     <div class="createdby"><p><h5><cite>by Geepy</cite></h5></p></div>    
                   </div>
                 </div>
              </div>
               <div class="news4">
                  <a href="Do men really.html"><div class="newshover box4"></div></a>
                 <div class="news1box">
                   <div class="cover4">
                     <p><h5><a href="#" class="textlink">Lorem ipsum dolor sit amet, consectet</a></h5></p>
                     <div class="describe"><p><h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non provident </h5></p></div> 
                     <div class="createdby"><p><h5><cite>by msEjay</cite></h5></p></div>    
                   </div>
                 </div>
              </div>
               <div class="news5">
                  <a href="#"><div class="newshover box51"></div></a>
                 <div class="news1box">
                   <div class="cover5">
                     <p><h5><a href="#" class="textlink">Lorem ipsum </a></h5></p>
                     <div class="describe"><p><h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                       inventore ea doloremque velit, neque voluptatem omnis quo.</h5></p></div> 
                     <div class="createdby"><p><h5><cite>by msEjay</cite></h5></p></div>      
                   </div>
                 </div>
              </div>
            </div>
          </div>
       </div>
      </div>
      <!--news section-->
      <div class="news-container2">
              <!--latest posts-->
            <div class="latecontain">
              <div class="post"><h3 class="roboto">LATEST POSTS</h3></div>
              <div class="latestcontain" data-aos="fade-right">
                <div class="blackimg1">
                  <div class="lateimg1 newshover"></div>
                </div>
                <div class="textcontain">
                  <div class="textheader"><p><h2>10 most dangerous dogs in the world</h2></p></div>
                  <div class="content">Dogs are known to be the most important household pets, but they can be really dangerous and aggressive....</div>
                  <button class="btn2"><a href="./lifestyle/10 most dangerous.html" class="read"><h4>Read more</h4></a></button>
                </div>
              </div>
              <div class="latestcontain2" data-aos="fade-right">
                <div class="blackimg2">
                  <div class="lateimg2 newshover"></div>
                </div>
                <div class="textcontain2">
                  <div class="textheader2"><p><h2>Why programming is interesting!!!</h2></p></div>
                  <div class="content2 bg-warning">The modern day era of innovation and technology cannot be overlooked, programming has become the most sort after in the society today....</div>
                  <button class="btn2"><a href="#" class="read"><h4>Read more</h4></a></button>
                </div>
              </div>
              <div class="latestcontain3" data-aos="fade-right">
                <div class="blackimg3">
                  <div class="lateimg3 newshover"></div>
                </div>
                <div class="textcontain3">
                  <div class="textheader3"><p><h2>Do men really notice what women wear?</h2></p></div>
                  <div class="content3">what a woman wears speaks so much about her personality...</div>
                  <button class="btn2"><a href="#" class="read"><h4>Read more</h4></a></button>
                </div>
              </div>
              <div class="latestcontain4" data-aos="fade-right">
                <div class="blackimg4">
                  <div class="lateimg4 newshover"></div>
                </div>
                <div class="textcontain4">
                  <div class="textheader4"><p><h2>The future of copywriting</h2></p></div>
                  <div class="content4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam accusamus odio impedit harum soluta in debitis vel deserunt optio voluptatem?</div>
                  <button class="btn2"><a href="#" class="read"><h4>Read more</h4></a></button>
                </div>
              </div>
            </div>
            
            <!----------ADS SECTION--------->
            <div class="ads">
               <div class="ad1">1
               </div>
               <div class="ad2">2
               </div>
               <div class="ad3">3
               </div>
               <div class="ad4">4</div>
            </div>
            <!-----x-----ADS SECTION-----x----->
             <!--sign up box-->
            <div class="signupbox">
                 <form action="" class="form-contain">
                   <h2>Sign up for our newsletter</h2>
                   <div class="signupcontainer">
                     <label for="email"><b>Email</b></label>
                     <input type="text" class="input" placeholder="Enter Email" name="email" required>
                     <div class="btncontain"><button type="submit" class="btn3">Submit</button></div>
                   </div>
                 </form>
            </div>
        
  
      </div>
      
      <!--SIGN UP SECTION ABSOLUTE-->
          <div class="form" id="form">
            <div class="closeicon" id="closeicon"><i class="far fa-times-circle"></i></div>
            <form action="" class="myform" method="POST">
              <div class="first">
               <div class="surname"><label for="surname"><b>Surname</b></label></div>
               <div class="surnametext"><input type="text" name="surname" placeholder="Best"></div>
              </div>
              <div class="second">
                <div class="firstname"><label for="firstname"><b>Firstname</b></label></div>
                <div class="othertext"><input type="text" name="othernames" placeholder="Geepy"></div>
              </div>
              <div class="third">
                <div class="email"><label for="Email"><b>Email</b></label></div>
                <div class="emailtext"><input type="text" name="Email" placeholder="001@gmail.com"></div>
              </div>
              <div class="btnform"><button type="submit" name="submit">Submit</button></div>
            </form>
          </div>





      <!--x----SIGN UP SECTION ABSOLUTE-->
    </main>
   
    <footer class="footer">
        <div class="last">
          <div class="log">
            <div class="log1">
              <!--<img class="img-logo" src="Blog logo 2.png" width="50px" >-->
              <a href="/index.html" class="nav-brand">Infomatics</a>
            </div>            
          </div>
          <p class="copy">copyright 2021</p>
          <p class="copy1">Geepy Technologies</p>
        </div>
    </footer>



    















     <!-- jquery library file-->
    <script src="./js/jquery3.6.0.min.js"></script>
    <!--owl carousel js-->
    <script src="./js/owl.carousel.min.js"></script>
    <!--jquery drag scroll-->
    <script src="./js/jquery.dragscroll.min.js"></script>
    <!--Aos-->
    <script src="./js/aos.js"></script>
    <!---bootstrap js-->
    <script src="./js/bootstrap.js"></script>
    <!--x-bootstrap js-->
     <!--custom javascript file-->
    <script src="./js/main.js" type="text/javascript"></script>
</body>
</html>