<!--footer section-->
<footer class="footer black mt-4 ">
    <div class="last">
      <div class="log ml-5">
            <div class="log1">
                <!--<img class="img-logo" src="Blog logo 2.png" width="50px" >-->
                <a href="/index.html" class="nav-brand">Infomatics</a>
            </div>   
            <p><h6 class="text-light">copyright 2021</h6></p>
            <p><h6 class="text-light">Sprintypress</h6></p>         
      </div>
      
    </div>
</footer>


<!-- jquery library file-->
<script src="js/jquery3.6.0.min.js"></script>
<!--owl carousel js-->
<script src="js/owl.carousel.min.js"></script>
<!--jquery drag scroll-->
<script src="js/jquery.dragscroll.min.js"></script>
<!--Aos-->
<script src="js/aos.js"></script>
<!---bootstrap js-->
<script src="js/bootstrap.js"></script>
<!--x-bootstrap js-->
<!--custom javascript file-->
<script src="js/main.js" content-type="application/javascript"></script>     

</body>
</html>    