<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--font awesome icons-->
        <link rel="stylesheet" type="text/css" href="./css/all.css">
        <!--owl carousel-->
        <link rel="stylesheet" type="text/css" href="./css/owl.carousel.min.css">
        <link rel="stylesheet" type="text/css" href="./css/owl.theme.default.min.css">
        <!---bootstrap-->
        <link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
        <!--close-bootstrap-->
        <!--A0s-->
        <link rel="stylesheet" type="text/css" href="./css/aos.css">
        <!--main css file-->
        <link rel="stylesheet" type="text/css" href="main2.css">
        <title>Info-Matics</title>
    </head>
    <body>
        <!--navigation menu-->
        <nav class="navbar navbar-expand-lg headercolor">
            <!-- Links -->
            <div class="d-flex justify-content-between w-100">
                <div class="logo">
                    <div class="logo1">
                        <a href="/" class="nav-brand link">Infomatics</a>
                    </div>
                </div>       
                <!--menu items-->
                <div class="nav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                        <a class="nav-link link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link link" href="/help">Music</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link link" href="/sports">Sports</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link link" href="/entertainment">Entertainment</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link link" href="/lifestyle">Lifestyle</a>
                        </li>
                    </ul>
                </div>     
                <!--social icons-->
                <div class="social">
                    <ul class="navbar-nav justify-content-center socials">
                        <li class="nav-item">
                            <a href="#" class="nav-link link"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link link"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link link"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link link"><i class="fab fa-tiktok"></i></a>
                        </li>
                    </ul>
                </div>    
            </div>
            

        </nav>