<%- include('header'); -%>




        <!--banner section-->
        <div class="mainimg col-sm">
            <div class="mainimgcontainer">
              <img class="img-fluid" src="" alt="">
            </div>
            <div class="signup w-50 m-auto" data-aos="fade-up" data-aos-delay="100">
                <h1 class="text-white">Sign up for our newsletters</h1>
                <a href="/signup"><button class="btn1 text-white" id="signupbtn">Sign up</button></a>
              </div>
        </div>
        <!--articles section-->
        <div class="container-fluid">
            <div class="row">
                    <div class="col-sm-8 articles">
                        <div class="owl-carousel owl-theme newsbox">
                            <div class="blogcontain">
                               <a href="#"><div class="newshover newsbox1"></div></a>
                               <button type="button" class="btn btn-sm mt-1 text-white btn2">Sports</button>
                               <div class="mt-1"><a href="#" class="recentlink"><h6>The evolution of the transfer market in football</h6></a></div>
                            </div>
                            <div class="blogcontain">
                               <a href="#"><div class="newshover newsbox1"></div></a>
                               <button type="button" class="btn btn-sm mt-1 text-white btn2">lifestyle</button>
                               <div class="mt-1"><a href="#" class="recentlink"><h6 class="poppins">The evolution of the transfer market in football</h6></a></div>
                            </div>
                        </div>
                         <!--latest posts section-->
                        <div class="latecontain mt-5">
                            <div class="post"><h3 class="roboto text-center">LATEST POSTS</h3></div>
                            <div class="latestcontain" data-aos="fade-right">
                                <div class="blackimg">
                                    <div class="latestpostimg1 imgcover newshover"></div>
                                </div>
                                <div class="textcontain">
                                    <div class="text-center"><p><h2>10 most dangerous dogs in the world</h2></p></div>
                                    <div class="content m-2">Dogs are known to be the most important household pets, but they can be really dangerous and aggressive....</div>
                                    <button type="button" class="btn btn-sm mb-2 btn2 newshover"><a href="#" class="text-decoration-none"><h6 class="text-white">Read more</h6></a></button>
                                </div>
                            </div>
                            <div class="latestcontain2" data-aos="fade-right">
                                <div class="blackimg">
                                    <div class="latestpostimg2 imgcover newshover"></div>
                                </div>
                                <div class="textcontain">
                                    <div class="text-center"><p><h2>10 most dangerous dogs in the world</h2></p></div>
                                    <div class="content m-2">Dogs are known to be the most important household pets, but they can be really dangerous and aggressive....</div>
                                    <button type="button" class="btn btn-sm mb-2 btn2 newshover"><a href="#" class="text-decoration-none"><h6 class="text-white">Read more</h6></a></button>
                                </div>
                            </div>
                            <div class="latestcontain3" data-aos="fade-right">
                                <div class="blackimg">
                                    <div class="latestpostimg3 imgcover newshover"></div>
                                </div>
                                <div class="textcontain">
                                    <div class="text-center"><p><h2>10 most dangerous dogs in the world</h2></p></div>
                                    <div class="content m-2">Dogs are known to be the most important household pets, but they can be really dangerous and aggressive....</div>
                                    <button type="button" class="btn btn-sm mb-2 btn2 newshover"><a href="#" class="text-decoration-none"><h6 class="text-white">Read more</h6></a></button>
                                </div>
                            </div>
                            <div class="latestcontain4" data-aos="fade-right">
                                <div class="blackimg">
                                    <div class="latestpostimg4 imgcover newshover"></div>
                                </div>
                                <div class="textcontain">
                                    <div class="text-center"><p><h2>10 most dangerous dogs in the world</h2></p></div>
                                    <div class="content m-2">Dogs are known to be the most important household pets, but they can be really dangerous and aggressive....</div>
                                    <button type="button" class="btn btn-sm mb-2 btn2 newshover"><a href="#" class="text-decoration-none"><h6 class="text-white">Read more</h6></a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Sidebar section-->
                    <div class="col-sm-4 sidebar">
                        <div class="card mx-4 mt-2">
                            <div class="card-body body">
                              <h4 class="card-title">Ole Gunnar Solksjaer Sack plea</h4>
                              <p class="card-text">Manchester United fans give their view about their manager...</p>
                              <a href="#" class="card-link">More</a>
                            </div>
                        </div>
                        <div class="card mx-4 mt-2">
                            <div class="card-body body">
                                <h4 class="card-title"></h4>
                                <p><%= name %> </p>
                                <p class="card-text">Some example text. Some example text.</p>
                                <a href="#" class="card-link">Card link</a>
                              
                            </div>
                        </div>
                        <div class="card mx-4 mt-2">
                            <div class="card-body body">
                              <h4 class="card-title">Card title</h4>
                              <p class="card-text">Some example text. Some example text.</p>
                              <a href="#" class="card-link">Card link</a>
                              <a href="#" class="card-link">Another link</a>
                            </div>
                        </div>
                    </div>
                
            </div>

        </div>
        









        <!--footer section-->
        <footer class="footer black mt-4 ">
            <div class="last">
              <div class="log ml-5">
                    <div class="log1">
                        <!--<img class="img-logo" src="Blog logo 2.png" width="50px" >-->
                        <a href="/index.html" class="nav-brand">Infomatics</a>
                    </div>   
                    <p><h6 class="text-light">copyright 2021</h6></p>
                    <p><h6 class="text-light">Sprintypress</h6></p>         
              </div>
              
            </div>
        </footer>


        <!-- jquery library file-->
        <script src="./js/jquery3.6.0.min.js"></script>
        <!--owl carousel js-->
        <script src="./js/owl.carousel.min.js"></script>
        <!--jquery drag scroll-->
        <script src="./js/jquery.dragscroll.min.js"></script>
        <!--Aos-->
        <script src="./js/aos.js"></script>
        <!---bootstrap js-->
        <script src="./js/bootstrap.js"></script>
        <!--x-bootstrap js-->
        <!--custom javascript file-->
        <script src="./js/main.js" type="text/javascript"></script>     

    </body>
</html>    